/*초기화*/
* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}
/* ----------------------- */

.sheet-form-frame {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.sheet-form-main {
    width: 1400PX;
    height: 1980PX;
    border: 2px solid #000;
    position: relative;
}

.wrap {
    width: 810px;
    border: 5px solid black;
    float: left;
    position: absolute;
    left: 100px;
}

.wrap::after {
    content: '';
    display: block;
    clear: both;
}

.wrap .left {
    width: 400px;
    height: 400px;
    background-color: lightgreen;
    float: left;
}

.wrap .right {
    width: 400px;
    height: 400px;
    background-color: lightblue;
    float: left;
    position: relative;
}

.wrap .right .box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.wrap .bottom {
    width: 800px;
    height: 100px;
    background-color: pink;
    float: left;
}
